@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bitcount+Prop+Double+Ink:wght@100..900&family=Press+Start+2P&family=Russo+One&family=Share+Tech&family=Workbench&display=swap');

:root {
  --primary-color: #6ed46c;
  --secondary-color: #eafbe9;
  --tertiary-color: #717563;
  --select-color: #8b1313;
  --bg-color: #0f0810;
}

body {
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  background-color: hsl(from var(--bg-color) h s calc(l * .5) / 1);
  color: var(--secondary-color);
}

header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 2rem 2rem;
  background-image: url("../img/title-background.png");
  background-size: auto;
  z-index: 10;
}

header h1 {
  font-family: "Workbench", "Press Start 2P";
  color: var(--primary-color);
  font-size: 2.6rem;
  font-weight: 400;
  text-shadow: 0 0 .9rem var(--primary-color);
  mix-blend-mode: screen;
}

header h1 a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

div input {
  font-family: inherit;
  font-size: 1.3rem;
  padding: .5rem .7rem;
  border: .2rem solid hsl( from var(--tertiary-color) h s calc(l * .25) / 1);
  border-radius: 2rem;
  color: hsl( from var(--tertiary-color) h s calc(l * 1.2) / 1);
  background-color: var(--bg-color);
  margin-right: .5rem;
  transition: all .2s ease;
  outline: none;
}

div input::placeholder {
  font-size: 1.3rem;
  font-weight: 200;
  color: hsl( from var(--tertiary-color) h s calc(l *.33) / 1);
}

div input:focus {
  border-color: hsl( from var(--select-color) h s calc(l * .4) / 1);
  box-shadow: 0 0 .75rem .2rem var(--select-color);
}

#search-button {
  font-family: inherit;
  font-size: 1.3rem;
  font-weight: 500;
  padding: .5rem 1.3rem;
  cursor: pointer;
  white-space: nowrap;
  /* border: none; */
  border: .2rem solid hsl( from var(--select-color) h s calc(l * .33) / 1);
  border-radius: 2rem;
  color: hsl( from var(--select-color) h s calc(l * 1.4) / 1);
  background-color: hsl(from var(--tertiary-color) h s calc(l * .33) / 1);
  transition: background-color .2s ease, color .2s ease;
}

#search-button:hover {
  color: hsl( from var(--bg-color) h s calc(l * .43) / 1);
  background-color: hsl( from var(--select-color) h s calc(l * 1.33) / 1);
  box-shadow: 0 0 .74rem .2rem hsl( from var(--select-color) h s calc(l * 1.33) / 1);
}

#search-button:active {
  background-color: hsl( from var(--select-color) h s calc(l * 1.66) / 1);
}

main {
  height: calc(100vh - 9.2rem - 5rem);
  max-width: 80rem;
  overflow-y: scroll;
  margin: 0 auto;
  padding: 2rem;
}

main::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
  transition: width .3s ease, height .3s ease;
}


main::-webkit-scrollbar-thumb {
  border-radius: .25rem;
  background-color: hsl( from var(--tertiary-color) h s calc(l * .2) / 1);
  transition: background-color .3s ease;
}

main::-webkit-scrollbar-thumb:hover {
  background-color: hsl(from var(--tertiary-color) h s calc(l * .36) / 1);
}

article {
  display: flex;
  gap: .75rem;
  background-color: hsl(from var(--tertiary-color) h s calc(l * .13) / 1);
  border: .2rem solid hsl(from var(--tertiary-color) h s calc(l * .18) / 1);
  border-radius: 1rem;
  margin-bottom: .5rem;
  transition: background-color .3s ease, border-color .3s ease;
}

article:hover {
  background-color: hsl(from var(--tertiary-color) h s calc(l * .22) / 1);
  border-color: hsl(from var(--tertiary-color) h s calc(l * .4) / 1);
  cursor: pointer;
}

article .cover {
  background-color: hsl(from var(--tertiary-color) h s calc(l * .33) / 1);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

article .cover img {
  border-top-left-radius: 1rem;
  max-width: 8rem;
  max-height: 9rem;
  width: auto;
  height: auto;
}

article .info {
  padding: .5rem;
}

article h2 {
  font-family: "Russo One";
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: .25rem;
  color: hsl( from var(--secondary-color) h s calc(l * 1.1) / 1);
}

article p {
  font-weight: 200;
  margin: .3rem 0;
  line-height: 1.2;
  font-size: 1rem;
  color: hsl( from var(--tertiary-color) h s calc(l * .9) / 1);
}

article p span {
  color: hsl( from var(--secondary-color) h s calc(l * .95) / 1);
}

article p strong {
  color: hsl( from var(--secondary-color) h s calc(l * 1.1) / 1);
  font-weight: 200;
  text-decoration: none;
}

article a {
  font-weight: 200;
  color: hsl( from var(--primary-color) h s calc(l * .75) / 1);
  text-decoration: none;
  transition: color .3s ease, text-decoration .3s ease;
}

article a:hover {
  color: hsl( from var(--primary-color) h s calc(l * 1.1) / 1);
  text-decoration: underline;
}

article a:active {
  color: hsl( from var(--primary-color) h s calc(l * 1.33) / 1);
}

.footer {
  font-family: "Workbench";
  font-weight: 500;
  font-size: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem 2rem;
  color: var(--tertiary-color);
  background-image: url(../img/title-background.png);
}

.footer-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer-links a {
  text-decoration: none;
  color: hsl( from var(--secondary-color) h s calc(l * .33) / 1);
}

.footer a:hover {
  color: hsl( from var(--secondary-color) h s calc(l * .5) / 1)
}

.footer a:active {
  color: hsl( from var(--secondary-color) h s calc(l * .8));
}


.floating-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000000ea;
  z-index: 32;
  display: flex;
  justify-content: center;
  align-items: center;
}

.floating-card {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 70%;
  overflow-y: auto;
  z-index: 36;
  background-color: hsl(from var(--tertiary-color) h s calc(l * .13) / 1);
  border: .3rem solid hsl(from var(--tertiary-color) h s calc(l * .18) / 1);
  border-radius: 1rem;
}

.floating-card::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
}

.floating-card::-webkit-scrollbar-thumb {
  border-radius: .25rem;
  background-color: hsl( from var(--tertiary-color) h s calc(l * .33) / 1);
}

.floating-head {
  display: flex;
  background-color: hsl(from var(--tertiary-color) h s calc(l * .33) / 1);
}

.floating-head .cover {
  display: flex;
  align-items: center;
}

.floating-head .cover img {
  max-width: 16rem;
  max-height: 9rem;
  width: auto;
  height: min-content;
}

.floating-head .title {
  font-family: "Workbench";
  font-size: 1.8rem;
  font-weight: 400;
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 0 0 .9rem var(--primary-color);
  color: hsl( from var(--secondary-color) h s calc(l * 1.1) / 1);
  background-image: url("../img/title-background.png");
}

.floating-card .description {
  display: flex;
  flex-direction: column;
  gap:.4rem;
  padding: 1rem;
  line-height: 1.3;
}

.floating-card .description p {
  font-weight: 200;
  line-height: 1.2;
  font-size: 1.3rem;
  color: hsl( from var(--tertiary-color) h s calc(l * .9) / 1);
}

.floating-card .description p span {
  color: hsl( from var(--secondary-color) h s calc(l * .95) / 1);
}

.floating-card .description p strong {
  color: hsl( from var(--secondary-color) h s calc(l * 1.1) / 1);
  font-weight: 200;
  text-decoration: none;
}

.floating-card a {
  font-weight: 200;
  color: hsl( from var(--primary-color) h s calc(l * .75) / 1);
  text-decoration: none;
  transition: color .3s ease, text-decoration .3s ease;
}

.description a {
  font-size: 1.3rem;
}

.floating-card a:hover {
  color: hsl( from var(--primary-color) h s calc(l * 1.1) / 1);
  text-decoration: underline;
}

.floating-card a:active {
  color: hsl( from var(--primary-color) h s calc(l * 1.33) / 1);
}